<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/doctor_login.css' %}">

    <title>Doctor Login</title>
</head>
<body>
    <div class="container">
        <h2>Doctor Login</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
